## Name : Aditya Koshti
## Course : BDAT1004 Data Programming
## Assignment : Problem Set 2
## Student ID : 200556105

### Question 1 : What value is displayed when the last expression (a) is evaluated? Explain your answer by indicating what happens in every executed statement.

In [5]:
a = 0

def b():
    global a
    a = c(a)
    
def c(a):
    return a + 2

b()
b()
b()
a

6

##### Explaination:

The initial value of a is 0.

The first call b(): a's value is 0 so as c(a)=a+2 then 0+2=2 

Now, global a's value gets changed to 2

The second call b(): a's value is 2 now so as c(a)=a+2 then 2+2=4 

Now, global a's value gets changed to 4 

The third call b(): a's value is 4 now so as c(a)=a+2 then 4+2=6 

Now, global a's value gets changed to 6

So as in third step a=6 (global value is being changed from 0 to 6 when b() is being executed till last step)

## Question 2 : Function fileLength(), given to you, takes the name of a file as input and returns the length of the file.

In [6]:
def fileLength(filename):
    try:                                           
        infile=open(filename)
        data=infile.read()
        length=len(data)
        infile.close()
        print(length)
    except IOError:                                  
        print("file {} not found".format(filename))     
                                                   
        
fileLength('midterm.py')  
fileLength('idterm.py')

file midterm.py not found
file idterm.py not found

## Question 3

In [7]:
class Marsupial:

    def __init__(self):
        self.pouch=[]
    def put_in_pouch(self, item):
        self.pouch.append(item)
    def pouch_contents(self):
        return self.pouch

class Kangaroo(Marsupial):
    def __init__(self, x,y):
        Marsupial.__init__(self)
        self.x=x
        self.y=y
    def jump(self, dx, dy):
        self.x+=dx
        self.x+=dy
    def __str__(self):
        return "I am a Kanagaroo located at coordinates ("+str(self.x)+","+str(self.y)+")"

m = Marsupial()
m.put_in_pouch('doll')
m.put_in_pouch('firetruck')
m.put_in_pouch('kitten')
m.pouch_contents()

k = Kangaroo(0,0)
print(k)

k.put_in_pouch('doll')
k.put_in_pouch('firetruck')
k.put_in_pouch('kitten')
ak=k.pouch_contents()
print(ak)

k.jump(1,0)
k.jump(1,0)
k.jump(1,0)

print(k)

I am a Kanagaroo located at coordinates (0,0)
['doll', 'firetruck', 'kitten']
I am a Kanagaroo located at coordinates (3,0)

## Question 4
Write function collatz() that takes a positive integer x as input and prints the Collatz sequence starting at x.

In [8]:
def collatz(x):
    if x == 1:               
        return [x]
    elif x%2==0:             
        return [x] + collatz(int(x/2))
    else:                    
        return [x] + collatz(int(x*3+1))

y=collatz(1)
z=collatz(10)
print("collatz(1)")
print(*y,sep = "\n")
print("\ncollatz(10)")
print(*z, sep = "\n")

collatz(1)
1

collatz(10)
10
5
16
8
4
2
1

## Question 5 
Write a recursive method binary() that takes a non-negative integer n and prints the binary representation of integer n.

In [9]:
Number = int(input("Enter your Number: "))
def binary(n):
    if n == 0:
        return 0
    else:
        binary(n//2)
    print(n % 2,end = '')
binary(Number)

Enter your Number: 9
1001

## Question 6

In [10]:
from html.parser import HTMLParser

class HeadingParser(HTMLParser):
    Headers = ["h1", "h2"]
    current = -1

    def handle_starttag(self, tag, attrs):      
        if tag in HeadingParser.Headers:         
            HeadingParser.current = HeadingParser.Headers.index(tag)
    
    def handle_endtag(self, tag):                
        if tag == HeadingParser.Headers[HeadingParser.current]:          
            HeadingParser.current = -1
            
    def handle_data(self, data):
        if HeadingParser.current >= 0:
            print(" " * HeadingParser.current + data)
            
infile = open("C:/Users/Aditya/OneDrive/Documents/Python Scripts/w3c.html")
content = infile.read()
infile.close()
hp = HeadingParser()
hp.feed(content)

W3C Mission
 Principles

## Question 7
Implement recursive function webdir() that takes as input: a URL (as a string) and non-negative integers depth and indent. Your function should visit every web page reachable from the starting URL web page in depth clicks or less, and print each web page's URL

In [11]:
from html.parser import HTMLParser
from urllib.parse import urljoin
from urllib.request import urlopen

# Collector class as a sub-class of HTMLParser to get the list of links
class Collector(HTMLParser):
    #collects hyperlink URLs into a list

    def __init__(self, url):
        #initializes the parser, the url, and a list
        HTMLParser.__init__(self)
        self.url = url
        self.links = []
        
    def handle_starttag(self, tag, attrs):
        #collects hyperlink URLs in their absolute format
        if tag == 'a':
            for attr in attrs:
                if attr[0] == 'href':
                    absolute = urljoin(self.url, attr[1])
                    if absolute[:4] == 'http': 
                        self.links.append(absolute)
                        
    def getLinks(self):
        #returns hyperlinks URLs in their absolute format
        return self.links
    
allLinks = []
    
def webdir(url,depth,indent):
        global allLinks   
        print(indent*" " + url)
        if depth == 0:
            return 
        for i in allLinks: 
            webdir(i, depth-1, indent+1)    


url = ' http://reed.cs.depaul.edu/lperkovic/test1.html'
resource = urlopen(url)
content = resource.read().decode()
collector = Collector(url)
collector.feed(content)
allLinks = collector.getLinks()

#Calling Webdir Function here
webdir(url,2,0)

 http://reed.cs.depaul.edu/lperkovic/test1.html
 http://reed.cs.depaul.edu/lperkovic/test2.html
  http://reed.cs.depaul.edu/lperkovic/test2.html

## Question 8
To write SQL queries on the provided database table that answers (a) - (h).

In [12]:
# Creating a table named 'cityInfo' using requisite syntax and using all the data provided to create table cityInfo

import sqlite3
con = sqlite3.connect('cityinformation.db')
cur = con.cursor()
cur.execute("CREATE TABLE cityinformation (City text, Country text, Season text, Temperature double, Rainfall double)")
cur.execute("INSERT INTO cityinformation VALUES ('Mumbai', 'India', 'Winter', 24.8, 5.9), ('Mumbai','India', 'Spring', 28.4, 16.2), ('Mumbai','India', 'Summer', 27.9, 1549.4), ('Mumbai','India', 'Fall', 27.6, 346.0)")
cur.execute("INSERT INTO cityinformation VALUES ('London', 'United Kindom', 'Winter', 4.2, 207.7), ('London', 'United Kindom', 'Spring', 8.3, 169.6), ('London', 'United Kindom', 'Summer', 15.7, 157.0), ('London', 'United Kindom', 'Fall', 10.4, 218.5)")
cur.execute("INSERT INTO cityinformation VALUES ('Cairo', 'Egypt', 'Winter', 13.6, 16.5), ('Cairo', 'Egypt', 'Spring', 20.7, 6.5), ('Cairo', 'Egypt', 'Summer', 27.7, 0.1), ('Cairo', 'Egypt', 'Fall', 22.2, 4.5)")

# Selcting all the data from the cityInfo table 
cur.execute('SELECT * FROM cityinformation')
cur.fetchall()

[('Mumbai', 'India', 'Winter', 24.8, 5.9),
 ('Mumbai', 'India', 'Spring', 28.4, 16.2),
 ('Mumbai', 'India', 'Summer', 27.9, 1549.4),
 ('Mumbai', 'India', 'Fall', 27.6, 346.0),
 ('London', 'United Kindom', 'Winter', 4.2, 207.7),
 ('London', 'United Kindom', 'Spring', 8.3, 169.6),
 ('London', 'United Kindom', 'Summer', 15.7, 157.0),
 ('London', 'United Kindom', 'Fall', 10.4, 218.5),
 ('Cairo', 'Egypt', 'Winter', 13.6, 16.5),
 ('Cairo', 'Egypt', 'Spring', 20.7, 6.5),
 ('Cairo', 'Egypt', 'Summer', 27.7, 0.1),
 ('Cairo', 'Egypt', 'Fall', 22.2, 4.5)]

In [13]:
## Question 8(a)

cur.execute('SELECT Temperature FROM cityinformation')
cur.fetchall()

[(24.8,),
 (28.4,),
 (27.9,),
 (27.6,),
 (4.2,),
 (8.3,),
 (15.7,),
 (10.4,),
 (13.6,),
 (20.7,),
 (27.7,),
 (22.2,)]

In [14]:
## Question 8(b)
cur.execute('SELECT DISTINCT(City) FROM cityinformation')
cur.fetchall()

[('Mumbai',), ('London',), ('Cairo',)]

In [15]:
## Question 8(c)
cur.execute('SELECT * FROM cityinformation where Country = "India"')
cur.fetchall()

[('Mumbai', 'India', 'Winter', 24.8, 5.9),
 ('Mumbai', 'India', 'Spring', 28.4, 16.2),
 ('Mumbai', 'India', 'Summer', 27.9, 1549.4),
 ('Mumbai', 'India', 'Fall', 27.6, 346.0)]

In [16]:
## Question 8(d)
cur.execute('SELECT * FROM cityinformation where Season = "Fall"')
cur.fetchall()

[('Mumbai', 'India', 'Fall', 27.6, 346.0),
 ('London', 'United Kindom', 'Fall', 10.4, 218.5),
 ('Cairo', 'Egypt', 'Fall', 22.2, 4.5)]

In [17]:
## Question 8(e)
cur.execute('SELECT City, Country, Season, AVG(Rainfall) FROM cityinformation GROUP BY City, Country, Season HAVING AVG(Rainfall) >= 200 and AVG(Rainfall) <= 400')
cur.fetchall()

[('London', 'United Kindom', 'Fall', 218.5),
 ('London', 'United Kindom', 'Winter', 207.7),
 ('Mumbai', 'India', 'Fall', 346.0)]

In [18]:
## Question 8(f)
cur.execute('SELECT City, Country, AVG(Temperature) FROM cityinformation where Temperature > 20 GROUP BY City, Country HAVING AVG(Temperature) > 20 ORDER By Temperature ASC')
cur.fetchall()

[('Cairo', 'Egypt', 23.53333333333333),
 ('Mumbai', 'India', 27.174999999999997)]

In [19]:
## Question 8(g)
cur.execute('SELECT SUM(Rainfall) FROM cityinformation WHERE City = "Cairo"')
cur.fetchall()

[(27.6,)]

In [20]:
## Question 8(h)
cur.execute('SELECT Season, SUM(Rainfall) FROM cityinformation GROUP BY Season')
cur.fetchall()

[('Fall', 569.0),
 ('Spring', 192.29999999999998),
 ('Summer', 1706.5),
 ('Winter', 230.1)]

## Question 9

In [21]:
words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over','the', 'lazy', 'dog']

In [22]:
u = [elements.upper() for elements in words]
print (u)

['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE', 'LAZY', 'DOG']

In [23]:
l = [elements.lower() for elements in words]
print(l)

['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

In [24]:
r = [len(elements) for elements in words]
print(r)

[3, 5, 5, 3, 5, 4, 3, 4, 3]

In [25]:
t = [[elements.upper(),elements.lower(),len(elements)] for elements in words]
print(t)

[['THE', 'the', 3], ['QUICK', 'quick', 5], ['BROWN', 'brown', 5], ['FOX', 'fox', 3], ['JUMPS', 'jumps', 5], ['OVER', 'over', 4], ['THE', 'the', 3], ['LAZY', 'lazy', 4], ['DOG', 'dog', 3]]

In [26]:
y = [elements for elements in words if len(elements)>=4]
print(y)

['quick', 'brown', 'jumps', 'over', 'lazy']